.wrapper {
  width: 100%;
  padding: 12px var(--padding-mobile);
  background-color: var(--color-light);
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-base);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-dark);
  padding: 0;
}

@media (min-width: 834px) {
  .wrapper {
    padding: 12px var(--padding-tablet);
  }
}

@media (min-width: 1920px) {
  .wrapper {
    padding: 12px var(--padding-desktop);
  }
}
